.contact-btn {
    width: 120px;
    height: 50px;
    border: 2px solid #7C5EF2;
    border-radius: 5px;
    background-color: transparent;
    color: #7C5EF2 ;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 5px 5px 5px #101523;
}
.telegram-click>p>i{
    margin-right: 6px;
    color: #888888;
    margin-bottom: 6px;
}
.telegram-click>p{
    color: #888888;
    font-size: 18px;
    font-weight: 500;
}


.contact-btn:hover {
    border-radius: 5px;
    background-color: #7C5EF2;
    color: #CDCDCD;
    border: 2px solid #7C5EF2;
}

.contact-info-card {
    width: 350px;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 80px;
}

.icon-div > i {
    font-size: 40px;
    color: #7C5EF2;
}

.info-holder {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.info-holder h4 {
    color: #CDCDCD;
}

.info-holder h5 {
    color: #888888;
    font-size: 18px;
}

.info-holder h5 i {
    color: #888888;
}

.info-holder h5 i:hover {
    color: #CDCDCD;
}

@media all and (min-width: 280px)  and (max-width: 768px) {
    .contact-info-card {
        margin-bottom: 0;
    }
}

@media all and (min-width: 280px)  and (max-width: 425px) {
    .contact-card-holder {
        width: 100% !important;
    }
}

@media all and (min-width: 280px) and (max-width: 425px) {
    .contact-info-card {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .info-holder {
        text-align: center;
        margin-top: 0 !important;
    }

    .icon-div > i {
        font-size: 30px;
    }

    .info-holder h5 i {
        color: #888888;
        font-size: 30px !important;
    }
}
@media all and (max-width: 280px) {
    .info-holder {
        width: 100%;
    }
}

