body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#111A28 !important ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #212B46;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
hr{
  position: absolute;
  top: 10px;
  height:2px;
  width: 98%;
  background-color: #1b223a;
  box-shadow: 5px 5px 5px #0e1520, -5px -5px 5px #141f30;
  opacity: 100%!important;
  z-index: 1;
}
.page-description{
  font-size: 18px;
  text-align: center;
  color: #6284d2;
  -webkit-text-stroke:0.5px #202a4b;
}


